.contact{
  height:80vh ;
}

.form-container-contact form{
  width:700px;
  margin:0 auto;
  padding-top:30px

}

.form-container-contact form textarea,
.form-container-contact form input{
 outline-color: #3f51b5;
border-radius: 7px;
border:0.8px solid #ccc;


}
.form-container-contact form input{
  height: 40px;
  padding:0 10px;

}
.form-container-contact form textarea{
  padding:10px 10px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}


.form-container-contact form button{
  border-radius: 10px;
}

.form-container-contact form button:hover{
  background-color: black;

}



@media screen and (max-width:800px){
  .form-container-contact form{
    width:90%;
  }
}
@media screen and (max-width:600px){

  .form-container-contact form{
    width:80%;
  }
    .form-container-contact form .form-inline{
      flex-direction: column;
      min-height:90px;
    }




}
