<div class="signup">
    <div class="form-inline firstname">
      <input   type="text" name="name" id="nomuser"
      placeholder="your Name..."
      [(ngModel)]="firstName"
      />
      <button  class="btn_signup" (click)="handleSave()">Save</button>
    </div>

    <div class="names">
    <strong>FirstName:</strong>{{firstName}}
    <br>
    </div>

    <div class="tabUser">
    <table class="tabU" >
        <tr><td colspan="3">name</td></tr>
        <tr  class="flex aic" *ngFor="let user of listUser1 ;let i=index">
            <td> {{user}}</td>
            <div class="button-action flex gap-10" >
              <td><button class="btn_signup "  (click)="deleteUser(i)">delete</button></td>
              <td><button class="btn_signup " (click)="updateUser(i)">Update</button></td>
            </div>
        </tr>
    </table>
    </div>

</div>

