.single-product
{
  margin-top:20px ;
  margin-bottom:50px ;
  padding-top: 20px;
  height: 600px;
}

.single-product .single-product-image
{
 justify-content: flex-end;
}
.single-product-image img{
  cursor:pointer;
}
.single-product-image-current img
{
width:100%;
height:100%;
/*height: 450px;*/
/*padding-top: 20px;
padding-left: 50px;*/
}
.signle-product-details
{
  padding-left:40px;
  padding-top: 10px;
}


.signle-product-details h2{
  font-size:1.5rem;
  line-height: 40px;
  margin:0;
}

.signle-product-details .signle-product_details_price h4{
font-size:2rem;
}
.signle-product-details .signle-product_details_price del h4{
  font-size:1.5rem;
  }

.single-product img.current{
  border: 4px solid #3f51b5;
}
@media screen and (max-width:900px)
{
  .single-product{

    flex-direction: column-reverse;
  }
  .single-product .single-product-image{
    justify-content: center;
    flex-direction: column;
  }

  .single-product .single-product-image-list{

    flex-direction: row;
  }
  .single-product-image-list{
    /*overflow: hidden;*/
    overflow-y: auto;
  }


}

@media screen and (max-width:450px)
{

  .single-product .single-product-image .single-product-image-current img{
   width:100%;
  }
}

